<div class="govuk-width-container">
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <%= form_with(model: @visa_document, url: visa_document_path(@visa_document), local: true, multipart: true) do |form| %>
        <h1 class="govuk-heading-l"><%= t('edit.title') %></h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header"><%= t('edit.document_type') %></th>
              <th class="govuk-table__header"><%= t('edit.current') %></th>
              <th class="govuk-table__header"><%= t('edit.upload') %></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% {
              t('upload.visa_application_form') => :visa_application_form,
              "Photograph ID" => :photograph_id,
              t('upload.passport') => :passport,
              t('upload.nombramiento') => :nombramiento,
              t('upload.health_insurance') => :health_insurance,
              t('upload.criminal_record') => :criminal_record,
              t('upload.medical_certificate') => :medical_certificate,
              t('upload.visa_application_payment') => :visa_application_payment
            }.each do |label, field| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= label %></td>
                <td class="govuk-table__cell">
                  <% if @visa_document.send(field).attached? %>
                    <%= @visa_document.send(field).filename.to_s %><br>
                    <%= link_to "Download", rails_blob_path(@visa_document.send(field), disposition: "attachment"), class: "govuk-link" %>
                  <% else %>
                    <span class="govuk-body"><%= t('no.document') %></span>
                  <% end %>
                </td>
                <td class="govuk-table__cell">
                  <%= form.label field, t('edit.word'), class: "govuk-label" %><br>
                  <%= form.file_field field, class: "govuk-file-upload" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="govuk-form-group">
          <%= form.submit t('edit.update'), class: "govuk-button" %>
        </div>
      <% end %>
    </div>
  </main>
</div>