<h1>Your Visa Documents</h1>

<% if @visa_documents.any? %>
  <ul>
    <% @visa_documents.each do |visa_document| %>
      <li>
        <strong>Eligibility:</strong> <%= visa_document.eligibility ? "Yes" : "No" %><br>
        <strong>Address:</strong> <%= visa_document.address %><br>

        <% if visa_document.visa_application_form.attached? %>
          <p><strong>Uploaded Document:</strong> <%= visa_document.visa_application_form.filename.to_s %></p>
          <%= link_to "Download", rails_blob_path(visa_document.visa_application_form, disposition: "attachment") %>
        <% else %>
          <p>You haven't uploaded the National Visa Application Form yet.</p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No visa documents uploaded yet.</p>
<% end %>

<%= link_to "Add New Document", new_visa_document_path %>