<h1 class="govuk-heading-l">Uploaded Visa Documents</h1>

<% @visa_documents.each do |visa_document| %>
  <dl class="govuk-summary-list">

    <%# National Visa Application Form %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        National Visa Application Form
      </dt>
      <dd class="govuk-summary-list__value">
        <% if visa_document.visa_application_form.attached? %>
          <p class="govuk-body">
            <%= visa_document.visa_application_form.filename.to_s %><br>
            <%= link_to "Download", rails_blob_path(visa_document.visa_application_form, disposition: "attachment"), class: "govuk-link" %> |
            <%= link_to "Edit", edit_visa_document_path(visa_document), class: "govuk-link" %>
          </p>
        <% else %>
          <p class="govuk-body">
            No visa application submitted.
            <%= link_to "Upload now", edit_visa_document_path(visa_document), class: "govuk-link" %>
          </p>
        <% end %>
      </dd>
    </div>

    <%# Photograph ID %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Photograph ID
      </dt>
      <dd class="govuk-summary-list__value">
        <% if visa_document.photograph_id.attached? %>
          <p class="govuk-body">
            <%= visa_document.photograph_id.filename.to_s %><br>
            <%= link_to "Download", rails_blob_path(visa_document.photograph_id, disposition: "attachment"), class: "govuk-link" %> |
            <%= link_to "Edit", edit_visa_document_path(visa_document), class: "govuk-link" %>
          </p>
        <% else %>
          <p class="govuk-body">
            No photographic ID submitted.
            <%= link_to "Upload now", edit_visa_document_path(visa_document), class: "govuk-link" %>
          </p>
        <% end %>
      </dd>
    </div>

  </dl>
<% end %>