
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
<%= form_with(model: @visa_document, local: true, multipart: true) do |form| %>
  <table class="govuk-table">
    <thead>
      <tr>
        <th class="govuk-table__header" colspan="2">Visa Document Upload</th>
      </tr>
    </thead>
    <tbody>
      <!-- National Visa Application Form -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :visa_application_form, "National Visa Application Form", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :visa_application_form, class: "govuk-file-upload" %>
        </td>
      </tr>

      <!-- Proof of ID -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :photograph_id, "Photograph ID (e.g. Passport-style photo)", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :photograph_id, class: "govuk-file-upload" %>
        </td>
      </tr>

      <!-- Passport -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :passport, "Passport", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :passport, class: "govuk-file-upload" %>
        </td>
      </tr>

      <!-- Nombramiento -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :nombramiento, "Nombramiento", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :nombramiento, class: "govuk-file-upload" %>
        </td>
      </tr>

      <!-- Health Insurance -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :health_insurance, "Health Insurance", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :health_insurance, class: "govuk-file-upload" %>
        </td>
      </tr>

      <!-- Criminal Record Check -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :criminal_record, "Criminal Record Check", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :criminal_record, class: "govuk-file-upload" %>
        </td>
      </tr>

      <!-- Medical Certificate -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :medical_certificate, "Medical Certificate", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :medical_certificate, class: "govuk-file-upload" %>
        </td>
      </tr>

      <!-- Visa Application Payment -->
      <tr>
        <td class="govuk-table__cell">
          <%= form.label :visa_application_payment, "Visa application payment", class: "govuk-label" %>
        </td>
        <td class="govuk-table__cell">
          <%= form.file_field :visa_application_payment, class: "govuk-file-upload" %>
        </td>
      </tr>
    </tbody>
  </table>

      <!-- Submit Button -->
      <%= form.submit "Submit", class: "govuk-button" %>
<% end %>