<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"><%= t('forgot_password.title') %></h1>
        <p class="govuk-body-l"><%= t('forgot_password.intro') %></p>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "govuk-form" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="govuk-form-group">
            <%= f.label t('auth.email'), class: "govuk-label" %>
            <%= f.email_field :email, class: "govuk-input", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="govuk-form-group">
            <%= f.submit t('forgot_password.reset_button'), class: "govuk-button" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </main>
</div>