<div class="govuk-width-container">
  <!-- Skip link -->
  <a href="#main-content" class="govuk-skip-link"><%=t('accessibility.skip')%></a>

  <main id="main-content" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"><%=t('pages.title')%></h1>
        <p class="govuk-body"><%=t('pages.subtitle')%></p>
        <ul class="govuk-list">
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.visa_application_form.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.visa_application_form.text')%></p>
            </div>
          </li>
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.photo.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.photo.text')%></p>
            </div>
          </li>
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.passport.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.passport.text')%></p>
            </div>
          </li>
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.nombramiento.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.nombramiento.text')%></p>
            </div>
          </li>
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.health_insurance.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.health_insurance.text')%></p>
            </div>
          </li>
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.criminal_record.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.criminal_record.text')%></p>
            </div>
          </li>
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.medical_certificate.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.medical_certificate.text')%></p>
            </div>
          </li>
          <li>
            <h2 class="govuk-heading-s"><%=t('pages.documents.visa_application_payment.title')%></h2>
            <div>
              <p class="govuk-body"><%=t('pages.documents.visa_application_payment.text')%></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>