<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <% if user_signed_in? %>
            <%= t('index.title.signed_in') %>
            <%= current_user.lastname %>
          <% else %>
            <%= t('index.title.signed_out') %>
          <% end %>
        </h1>
        <div class="govuk-inset-text">
          <%= t('inset.welsh') %>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
        <span class="govuk-caption-xl">
          <%= t('index.intro') %>
        </span>
        <br>
        <p class="govuk-body">
          <%= t('index.block_text') %>
        </p>
        <p class="govuk-body">
          <%= t('index.block_text_2') %>
        </p>

        <% if user_signed_in? %>
          <div class="govuk-body">
            <p class="govuk-body">
              <a href="<%= '/visa_documents/new' %>" class="govuk-link">
                <%= t('index.start_button') %>
              </a>
            </p>

            <% if @visa_document %>
              <table class="govuk-table">
                <thead>
                  <tr>
                    <th scope="col">Document</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    <th scope="col">More Information</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @visa_document.visa_application_form.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Visa Application Form</td>
                      <td class="govuk-table__cell"><%= @visa_document.visa_application_form.filename.to_s %></td>
                      <td class="govuk-table__cell">
                        <%= link_to "Download", rails_blob_path(@visa_document.visa_application_form, disposition: "attachment"), class: "govuk-link" %> |
                        <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'visa_application_form'), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Visa Application Form</td>
                      <td class="govuk-table__cell">No Visa application submitted</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>

                  <% if @visa_document.photograph_id.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Photographic ID</td>
                      <td class="govuk-table__cell"><%= @visa_document.photograph_id.filename.to_s %></td>
                      <td class="govuk-table__cell">
                        <%= link_to "Download", rails_blob_path(@visa_document.photograph_id, disposition: "attachment"), class: "govuk-link" %> |
                        <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'photograph_id'), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Photographic ID</td>
                      <td class="govuk-table__cell">No Photographic ID submitted</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>

                  <% if @visa_document.passport.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Passport</td>
                      <td class="govuk-table__cell"><%= @visa_document.passport.filename.to_s %></td>
                      <td class="govuk-table__cell">
                        <%= link_to "Download", rails_blob_path(@visa_document.passport, disposition: "attachment"), class: "govuk-link" %> |
                        <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'passport'), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Passport</td>
                      <td class="govuk-table__cell">No Passport submitted</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>

                  <% if @visa_document.nombramiento.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Nombramiento</td>
                      <td class="govuk-table__cell"><%= @visa_document.nombramiento.filename.to_s %></td>
                      <td class="govuk-table__cell">
                        <%= link_to "Download", rails_blob_path(@visa_document.nombramiento, disposition: "attachment"), class: "govuk-link" %> |
                        <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'nombramiento'), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Nombramiento</td>
                      <td class="govuk-table__cell">No Nombramiento submitted</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>

                  <% if @visa_document.health_insurance.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Health Insurance</td>
                      <td class="govuk-table__cell"><%= @visa_document.health_insurance.filename.to_s %></td>
                      <td class="govuk-table__cell">
                        <%= link_to "Download", rails_blob_path(@visa_document.health_insurance, disposition: "attachment"), class: "govuk-link" %> |
                        <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'health_insurance'), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Health Insurance</td>
                      <td class="govuk-table__cell">No Health Insurance submitted</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>

                  <% if @visa_document.criminal_record.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Criminal Record</td>
                      <td class="govuk-table__cell"><%= @visa_document.criminal_record.filename.to_s %></td>
                      <td class="govuk-table__cell">
                        <%= link_to "Download", rails_blob_path(@visa_document.criminal_record, disposition: "attachment"), class: "govuk-link" %> |
                        <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'criminal_record'), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Criminal Record</td>
                      <td class="govuk-table__cell">No Criminal Record submitted</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>

                  <% if @visa_document.medical_certificate.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Medical Certificate</td>
                      <td class="govuk-table__cell"><%= @visa_document.medical_certificate.filename.to_s %></td>
                      <td class="govuk-table__cell">
                        <%= link_to "Download", rails_blob_path(@visa_document.medical_certificate, disposition: "attachment"), class: "govuk-link" %> |
                        <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'medical_certificate'), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">No Medical Certificate attached</td>
                      <td class="govuk-table__cell">No Medical Certificate attached</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>

                  <% if @visa_document.visa_application_payment.attached? %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Proof of payment</td>
                      <td class="govuk-table__cell"><%= @visa_document.visa_application_payment.filename.to_s %></td>
                      <td class="govuk-table__cell">
                      <%= link_to "Download", rails_blob_path(@visa_document.visa_application_payment, disposition: "attachment"), class: "govuk-link" %> |
                      <%= link_to "Edit", edit_visa_document_path(@visa_document, document_type: 'visa_application_payment'), class: "govuk-link" %> |
                      <%= button_to "Delete", visa_document_path(@visa_document, document_type: 'visa_application_payment'), 
                            method: :delete,
                            data: { turbo_confirm: "Are you sure you want to delete this document?" },
                            class: "govuk-link govuk-link--destructive" %>
                    </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">No Visa Proof of Payment attached</td>
                      <td class="govuk-table__cell">No Visa Proof of Payment attached</td>
                      <td class="govuk-table__cell">
                        <%= link_to "Upload now", edit_visa_document_path(@visa_document), class: "govuk-link" %>
                      </td>
                      <td class="govuk-table__cell">
                        <%= link_to "Learn more about this document", "#", class: "govuk-link" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "govuk-button govuk-button--secondary" %>
          </div>
        <% else %>
          <div class="govuk-body">
            <p class="govuk-body">
              <%= link_to "Sign in", new_user_session_path, class: "govuk-button" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>