<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"> <%= t('index.title') %> </h1>
        <div class="govuk-inset-text">
            <%= t('inset.welsh') %>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"> <%= t('index.intro') %> </span>
        <br>
        <p class="govuk-body "> <%= t('index.block_text') %> </p>

        <% if user_signed_in? %> 
    <div class="govuk-heading-l">Welcome, <%= current_user.firstname %></div>
    <div class="govuk-body">
        <p class="govuk-body">Start a new visa application now</p>
    
    </div>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "govuk-button govuk-button--secondary" %>
<% else %>
    <div class="govuk-body">
        <span><%= t('index.not_auth') %></span>
        <a href="<%= new_user_session_path %>" class="govuk-link">
            <%= t('index.sign_in_link') %>
        </a>
    </div>
<% end %>
    </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s"><%= t('related_content.title') %></h3>
        <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
      </div>
    </div>
  </main>
</div>