<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
  <meta charset="utf-8">
  <title>GoGlobal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue">
  <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
  <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
  <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="blue">
  <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
  <link rel="manifest" href="/assets/manifest.json">
  <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body style="background-color: white;">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render 'shared/navbar' %>
  <header class="govuk-header__container govuk-width-container">
    <nav class="govuk-header__navigation" role="navigation" aria-label="Language switcher">
      <ul class="govuk-header__navigation-list">
        <li class="govuk-header__navigation-item">
          <%= link_to "English", url_for(locale: :en), class: "govuk-link" %>
        </li>
        <li class="govuk-header__navigation-item">
          <%= link_to "Cymraeg", url_for(locale: :cy), class: "govuk-link" %>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>

  <%= render 'shared/footer' %>

  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js';
    initAll();
  </script>
</body>

</html>